@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    text-rendering: optimizeLegibility;
    /* overflow-x: hidden; */
    min-height: 100%;
}

nav {
    color: #f9f9f9;
    font-size: 13px;
    font-weight: 900;
    font-style: bold; 
    text-transform: uppercase;
}

.nav-link{
    color: #f9f9f9;
}

nav a{
    margin: 0px 4px 0px 0px;
    padding: 7.5px 16px;
}

/* VideoBG */
.videoBG {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.videoBG video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.videoBG .container {
    position: relative;
    z-index: 2;
}

.videoBG .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.btVideo {
    border: 4px solid #f9f9f9 ;
    border-style: double;
}

@media (max-width: 769px){
    .video {
        width: 60%;
        height: auto;
    }
    .display-3{
        display: none;
    }
    .btVideo{
        display: none;
    }
}
/* /VideoBG */

/* HomePage */
.homepageNews {
    width: 100%;
    font-weight: 900;
    color: #FF4655;
    font-size: 70px;
    display: inline-block;
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.homepageNews ::after,::before{
    box-sizing: border-box;
}

.homepageNews .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(1.5);
    color: #10184B;
    cursor: pointer;
    transition: 0.7s ease-in-out;
}

.card-text{
    display: block;
    font-size: 1px;
}

.card-footer{
    display: flex;
    border: none;
    width: 100%;
} 

.card:hover {
    filter: unset;
}

.card:hover > .card-body::before {
    height: 250px;
    width: 250px;
    opacity: 1;
}

.card:hover > .card-body p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}
/* /HomePage */

/* Formulario */
.formText{
    width: 100%;
    font-weight: 900;
    color: #111111; 
    font-size: 20px;
    display: inline-block;
}
/* /Formulario */
.dark {
    background-color: #111111;
}

.bg{
    background-color: #ECE8E1;
}

.btn { 
    background-color: #FF4655;
} 


